<label class="control-label">Selecione a Imagem de Apresentação de Seu empreendimento</label>
<div class="row" >
    <div class="col-md-8" >
        <input id="input-ficons-4" name="inputficons4[]" type="file" class="file-loading" ng-init="fileinputFunction()">
    </div>
    <div class="col-xs-6 col-md-4">
        <div class="row">
            <div class="col-xs-4" >
                <input type="button" value="Próximo ->" class="btn btn-primary" ng-click="activateStep(2)">
            </div>
        </div>
    </div>
</div>