<div class="container" ng-init="MyProduct=true;Mydatas=false;myShops=false">
    <div class="row">
        <div class="col-md-2">
            <ul class="nav navbar-custom nav-stacked">
                <li role="presentation"><a href="#" >Meus Produtos</a></li>
                <li role="presentation"><a href="#" >Dados Cadastrais</a></li>
                <li role="presentation"><a href="#" >Minhas Lojas</a></li>
            </ul>
        </div>

        <div class="col-md-10" ng-show="{{MyProduct}}" ng-repeat="pedido in MyShoppingObj">
        <div class="panel-group">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a type="button" data-toggle="collapse" data-target="#{{pedido.id}}" aria-expanded="true" aria-controls="12345">
                            Pedido numero {{pedido.id}}
                        </a>
                    </h4>
                </div>
            </div>
        </div>
             <div class="collapse" id="{{pedido.id}}">
                <div class="well">
                    <table cellspacing="0" class="shop_table cart">
                        <thead>
                        <tr>
                            <th class="product-name">Loja</th>
                            <th class="product-name">Produto</th>
                            <th class="product-price">Valor Unit.</th>
                            <th class="product-quantity">Quantidade</th>
                            <th class="product-subtotal">Total</th>
                            <th class="product-subtotal">Status</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="cart_item" ng-repeat="item in pedido.produto">
                            <td class="product-thumbnail">
                                <a href="single-product.html"><img width="145" height="145" class="shop_thumbnail" ng-src="{{item.produto.image}}"></a>
                            </td>
                            <td class="product-thumbnail">
                                <a href="single-product.html"><img width="145" height="145" class="shop_thumbnail" ng-src="imagem">{{item.produto.name}}</a>
                            </td>
                            <td class="product-price">
                                <span class="amount">{{item.produto.price | currency}} </span>
                            </td>

                            <td class="product-quantity">
                                <div class="quantity buttons_added">
                                    <input type="text" size="2" readonly="true" value="{{item.quantidade}}">
                                </div>
                            </td>

                            <td class="product-subtotal">
                                <span class="amount">{{item.produto.name * item.quantidade |currency}}</span>
                            </td>
                            <td class="product-subtotal label-{{item.statusString}}">
                                <span class="label label-{{item.statusString}}">{{item.descricao}}</span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>

    </div>
</div>