<div ng-controller="storeSignUpCtrl" >
    <div class="modal fade" id="formLogin" role="dialog">
        <div class="modal-dialog">
            <div clas="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4>Cadastro de Cliente</h4>
                </div>
                <div class="modal-body">

                    <form class="form-inline" >
                        <fieldset>

                            <div class="form-group">

                                <div class="col-md-8">
                                    <input id="Login" name="Login" type="text" placeholder="Digite o Login" class="form-control input-md" required="">
                                </div>

                            </div>

                            <!-- Text input-->
                            <div class="form-group">
                                <div class="col-md-8">
                                    <input id="password" name="password" type="password" placeholder="Senha" class="form-control input-md" required="">

                                </div>
                            </div>

                        </fieldset>
                    </form>

                </div>
                <div class="modal-footer">
                    <a class="btn btn-default" data-dismiss="modal">close</a>
                        <button class="btn btn-primary" >Logar</button>
                </div>
            </div>
        </div>
    </div>
</div>
