<div class="col-sm-6">
    <div class="header-area">
        <div class="navbar-custom navbar-nav navbar navbar-collapse navbar-fixed-top ">
            <div class="row">
                <div class="col-md-6">
                    <div class="user-menu">
                        <ul>
                            <li><a href="#"><i class="fa fa-user"></i> My Account</a></li>
                            <li><a href="#"><i class="fa fa-heart"></i> Wishlist </a></li>
                            <li><a href="cart.html"><i class="fa fa-user"></i> My Cart</a></li>
                            <li><a href="checkout.html"><i class="fa fa-user"></i> Checkout </a></li>
                            <li><a href="#"><i class="fa fa-user"></i> Login </a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-6" >
                    <div class="shopping-item" >
                        <a href="cart.html">Cart - <span class="cart-amunt">{{cart.totalPrice | currency}}</span> <i class="fa fa-shopping-cart"></i> <span class="product-count">{{cart.length}}</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <!-- End header area -->