<div class="mainmenu-area">
    <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div ng-init="createLike()" ng-include="'html/facebook/like.html'"></div><br>
                </div>
            </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-8"></div>
            <div class="col-xs-6 col-md-4"></div>
        </div>

        <div class="row">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li ng-class="menus[0].value==true?'active':''"><a href="#" ng-click="activateMenu(menus[0].name)">Home</a></li>
                    <li ng-class="menus[1].value==true?'active':''"><a href="#" ng-click="activateMenu(menus[1].name)">Lista de Desejos</a></li>
                    <li ng-class="menus[2].value==true?'active':''"><a href="#" ng-click="activateMenu(menus[2].name)">Carrinho</a></li>
                    <li ng-class="menus[3].value==true?'active':''"><a href="#" ng-click="activateMenu(menus[3].name)">Endereço de Entrega</a></li>
                    <li ng-class="menus[4].value==true?'active':''"><a href="#" ng-click="activateMenu(menus[4].name)">Produtos</a></li>
                    <li><a href="#" ng-click="">Category</a></li>
                    <li><a href="#" ng-click="">Others</a></li>
                    <li><a href="#" ng-click="">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
</div> <!-- End mainmenu area -->
