<div ng-controller="storeSignUpCtrl">
<div class="tabbable"> <!-- Only required for left/right tabs -->
    <ul class="nav nav-tabs">
        <li class="{{steps[0].classe}}"><a href="#{{steps[0].id}}" data-toggle="{{steps[0].dataToggle}}" ng-click="activateStep(1)">Passo 1</a></li>
        <li class="{{steps[1].classe}}" ng-click="activateStepByTab(2)"><a href="#{{steps[1].id}}" data-toggle="{{steps[1].dataToggle}}" >Passo 2</a></li>
        <li class="{{steps[2].classe}}" ng-click="activateStepByTab(3)"><a href="#{{steps[2].id}}" data-toggle="{{steps[2].dataToggle}}" >Passo 3</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="tab1">
            <div ng-show="steps[0].show">
                <div ng-include="'html/components/storeStepOne.html'"></div>
            </div>
        </div>
        <div ng-show="steps[1].show">
            <div ng-include="'html/components/storeStepTwo.html'"></div>
        </div>
        <div ng-show="steps[3].show">

        </div>
    </div>
</div>

