<div class="tabbable"> <!-- Only required for left/right tabs -->
    <ul class="nav nav-tabs">
        <li class="active"><a href="#tab1" data-toggle="tab">Seção 1</a></li>
        <li><a href="#tab2" data-toggle="tab">Seção 2</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="tab1">
            <div class="row">
              <div class="col-xs-6 col-md-4">
                  <label class="control-label">Selecione a Imagem de Apresentação de Seu empreendimento</label>
                  <input id="input-ficons-3" name="inputficons3[]" type="file" class="file-loading" ng-init="fileinputFunction()">
              </div>
            </div>


        </div>
        <div class="tab-pane" id="tab2">
            <p>Olá, estou na seção 2</p>
        </div>
    </div>
</div>

